bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/
*.dll
*.pdb
.vs/
*.user
*.suo
*.userprefs
packages/
*.nupkg
.nuget/
*.cache
*.ide
*.Publish.xml
*.pubxml
*.pubxml.user
FormsTicketTool/App.config
FormsTicketTool/FormsTicketTool.exe.config
.DS_Store
Thumbs.db
