<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.0" />
		<!-- Test example: Replace with target machineKey before running -->
		<machineKey
		  decryption="AES"
		  decryptionKey="B26C371EA0A71FA5C3C9AB53A343E9B962CD947CD3EB5861EDAE4CCC6B019581"
		  validation="HMACSHA256"
		  validationKey="EBF9076B4E3026BE6E3AD58FB72FF9FAD5F7134B42AC73822C5F3EE159F20214B73A80016F9DDB56BD194C268870845F7A60B39DEF96B553A022F1BA56A18B80" />
	</system.web>
</configuration>